<!--
 * @Date: 2021-01-08 11:27:12
 * @LastEditTime: 2021-01-08 11:27:12
 * @Author: WangYongJie
 * @Work-email: wangyongjie2@gome.com.cn
 * @Private-email: admin@xiaodongxier.com
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <script src="./static/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="handlelBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                mess: "hello word",
                list: [],
                inputValue: ''
            },
            methods: {
                handlelBtnClick: function(){
                    // alert(this.inputValue)
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }
            }
        })
    </script>
</body>
</html>